<!doctype html>
<html ng-app="login">
	<head>
		<title>Bienvenue</title>
		<meta charset=utf-8>

		<!-- Fonts -->
		<link href="http://fonts.googleapis.com/css?family=Share+Tech" rel=stylesheet type=text/css> <!-- Presque Monospace -->
		<link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css"> <!-- Sans serif -->
		<link href="http://fonts.googleapis.com/css?family=Oswald" rel="stylesheet" type="text/css"> <!-- Serif -->
		<link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css"> <!-- Sans serif (bien pour les smileys) -->
		<link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'> <!-- Ubuntu -->
		<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>

		<!-- Dépendances JS -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js" type="text/javascript"> // Angular JS</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.17/angular-ui-router.js" type="text/javascript"> // Routes</script>
		<script src="https://code.angularjs.org/1.5.0/angular-animate.js" type="text/javascript"> // Animation</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.js" type="text/javascript"> // JQuery</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/1.1.1/typed.min.js" type="text/javascript"> //TypedJS</script>
		<script src="js/wow.min.js" type="text/javascript"> // Animation on scroll</script>
		<script src="https://cdn.socket.io/socket.io-1.4.5.js" type="text/javascript"> // Socket io</script>

		<!-- Scripts -->
		<script src="js/main.js" type="text/javascript"></script>
		<script src="js/responsive.js" type="text/javascript"></script>

		<!-- Fichiers css -->
		<link rel=stylesheet href=css/index.css type="text/css">
		<link rel="stylesheet" href="css/home.css" type="text/css">
		<link rel="stylesheet" href="css/chat.css" type="text/css">
		<link rel="stylesheet" href="css/responsive.css" media="screen" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" type="text/css"> <!-- Icon -->
		<link rel="stylesheet" href="css/animate.css" type="text/css"> <!-- CSS animation -->

		<!-- Icone -->
		<link rel="icon" type="image/png" href="mail.png">

		<!--<base href="/home">-->
	</head>
	<body ng-controller="MainCtrl as ctrl">

		<header class="header">
			<a href="#" class="header__icon" id="header__icon"></a>
			<!--<a href="#" class="header__logo">Logo</a> Logo (à voir plus tard) -->
			<nav class="menu">
				<ul>
					<li ui-sref-active='active'><a ui-sref="home">Home</a></li>
					<li ui-sref-active='active' ng-hide="isLoggedIn"><a ui-sref="register">Register</a></li>
					<li ui-sref-active='active' ng-hide="isLoggedIn"><a ui-sref="login">Login</a></li>
					<li ui-sref-active='active'><a ui-sref="contact">Contact</a></li>
					<li ui-sref-active='active' ng-show="isLoggedIn"><a ui-sref="chat" ng-click="connect(me.pseudo)">Chat</a></li>
			  	<li ui-sref-active='active' ng-show="isLoggedIn"><a ui-sref="profile">{{currentUser.lastname}}</a></li>
					<li ng-show="isLoggedIn"><a ui-sref="home" ng-click="logout()">Logout</a></li>
				</ul>
			</nav>
		</header>

		<section class="block">
			<ui-view></ui-view> <!-- Affichage du template -->
		</section>

		<script>
      new WOW().init();
    </script>
	</body>
</html>
