@media only screen and (max-width: 750px) {
  .header {
    position: static;
    display: block
  }
  .header__icon {
    display: block;
    position: relative;
    float: left;
    width: 35px;
    height: 50px;
    cursor: pointer;
  }
  .header__icon:after {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 0;
    top: 9px;
		left: 20px;
		box-shadow : 0 10px 0 1px #34495e,
			0 16px 0 1px #34495e,
			0 22px 0 1px #34495e;
  }
  .menu {
    position: absolute;
    left: 0;
    top: 60px;
    bottom: 0;
    background: white;
    width: 250px;
    /*display: none;*/
    transform: translateX(-250px);
    transition-duration: 0.3s;
    z-index: 10;
  }
  .menu ul {
    display: block;
  }
  .menu li {
    border-right: none;
    border-bottom: 1px solid #aaa;
    margin: 0;
    padding: 5px 20px;
  }
  .menu a {
    display: block;
    height: 40px;
    line-height: 40px;
  }
  .with__sidebar {

  }
  .with__sidebar .menu {
    transform: translateX(0px);
  }
}
