<!-- Template de profile -->
<!--<script type=text/ng-template id=profile.html>-->
<div class="animated fadeIn">
  <div class="photo"><div class="avatar"><img ng-src={{information.gravatar}} alt=avatar></div></div>
  <section class=profil>
    <aside class="left">
      <div>
        <i class="fa fa-hashtag"></i>
        <p>Prénom</p>
      </div>
      <div>
        <i class="fa fa-hashtag"></i>
        <p>Pseudo</p>
      </div>
      <div>
        <i class="fa fa-hashtag"></i>
        <p>E-Mail</p>
      </div>
      <div>
        <i class="fa fa-hashtag"></i>
        <p>Centres d'intérêts</p>
      </div>
      <div>
        <i class="fa fa-hashtag"></i>
        <p>Compétences</p>
      </div>
      <div>
        <i class="fa fa-hashtag"></i>
        <p>Humeur</p>
      </div>
    </aside>
    <aside class="right">
      <div ng-dblclick="modify(this)" ng-blur="editProfile(this)">
        <p ng-hide="edit">{{information.lastname}}</p>
        <input ng-show="edit" class="edit" type=text ng-model="information.lastname">
      </div>
      <div ng-dblclick="modify(this)" ng-blur="editProfile(this)">
        <p ng-hide="edit">{{information.pseudo}}</p>
        <input ng-show="edit" class="edit" type=text ng-model="information.pseudo">
      </div>
      <div ng-dblclick="modify(this)" ng-blur="editProfile(this)">
        <p ng-hide="edit">{{information.mail}}</p>
        <input ng-show="edit" class="edit" type=text ng-model="information.mail">
      </div>
      <div ng-dblclick="modify(this)" ng-blur="editProfile(this)">
        <p ng-hide="edit">{{information.hobbys}}</p>
        <input ng-show="edit" class="edit" type=text ng-model="information.hobbys">
      </div>
      <div ng-dblclick="modify(this)" ng-blur="editProfile(this)">
        <p ng-hide="edit">{{information.competences}}</p>
        <input ng-show="edit"class="edit" type=text ng-model="information.competences">
      </div>
      <div ng-dblclick="modify(this)" ng-blur="editProfile(this)">
        <p ng-hide="edit">{{information.humeur}}</p>
        <input ng-show="edit" class="edit" type=text ng-model="information.humeur">
      </div>

    </aside>
  </section>
</div>
<div class="profilButtons">
  <input type="button" id="modify" value="modifier" ng-click="modifyAll()">
  <input type="button" id="sendmodif" value="Envoyer" ng-click="update()">
</div>
