<!-- Template de profile -->
<!--<script type=text/ng-template id=profile.html>-->
<div class="animated fadeIn">
  <div class="photo"><div class="avatar"><img ng-src={{me.gravatar}} alt=avatar></div></div>
  <section class=profil>
    <aside class="left">
      <div>
        <i class="fa fa-hashtag"></i>
        <p>Prénom</p>
      </div>
      <div>
        <i class="fa fa-hashtag"></i>
        <p>Pseudo</p>
      </div>
      <div>
        <i class="fa fa-hashtag"></i>
        <p>E-Mail</p>
      </div>
      <div>
        <i class="fa fa-hashtag"></i>
        <p>Centres d'intérêts</p>
      </div>
      <div>
        <i class="fa fa-hashtag"></i>
        <p>Compétences</p>
      </div>
      <div>
        <i class="fa fa-hashtag"></i>
        <p>Humeur</p>
      </div>
    </aside>
    <aside class="right">
      <div class="">
        <p>{{me.lastname}}</p>
      </div>
      <div class="">
        <p>{{me.pseudo}}</p>
      </div>
      <div class="">
        <p>{{me.mail}}</p>
      </div>
      <div>
        <p>...</p>
      </div>
      <div>
        <p>...</p>
      </div>
      <div>
        <p>...</p>
      </div>
    </aside>
  </section>
</div>
